/* HEADER */
.header{
    background-color: white;
    border-bottom-color: black;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    font-size: 1.5em;

}
line-border{
    border-bottom: 1px solid gray;
}
a {
    color: black;
    text-decoration: none;
    margin-left: 8px;

}
ul {
    margin: 0;
}

/* BODY */
.body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 24px;
    margin: 24px;
}

/* image */
.portfolio-image{
    display: block;
    margin-left: auto;
    margin-right: 3%;
    margin-bottom: 1%;
    width: 50%;
    float: left;
}

.section-main{
    display: flex;
    justify-content:center;
}

.section-content{
    max-width: 960px;
}

/* FOOTER*/
.footer{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    padding:24px;
}