/* Generic */
a {
  color:rgb(53, 53, 66);
  margin-left: 8px; 
  text-decoration: none;
}

body{
  font-family: 'Lato', sans-serif;
  padding: 40px;
}

/* HEADER */
.buttonnav {
  color: rgb(53, 53, 66);
  text-decoration: none;
}

.buttonnav:hover {
    opacity: 0.3;
}

.header{
    color: rgb(53, 53, 66);
    display: flex;
    font-size: 1.25em;
    justify-content: space-between;
    padding: 24px;
}

/* SUBHEADER */
.inside-type{
  color:rgb(53, 53, 66);
  font-size: 40px;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 80px;
  max-width: 960px;
}

.subheader-main{
  display: flex;
  justify-content:baseline;
}

.subheader-content{
  max-width: 960px;
}

.top-greeting{
  color:rgb(53, 53, 66);
  font-size: 80px;
  font-style: italic;
}

/* INDEX BODY */
.block-area{
  background: rgba(253,226,207,0.3);
  min-width: 960px;
  padding: 45px 10px 30px 10px;
}

.body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 24px;
  margin: 24px;
}

.info-header{
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 600;
}

.inside-personal{
  color:rgb(53, 53, 66);
  font-size: 40px;
  font-style: italic;
  font-weight: 100;
  line-height: .5em;
  text-align: center;
  padding: 0;
}

.inside-subheading{
  color: rgb(53, 53, 66);
  font-size: 25px;
  font-weight: 100;
  text-align: center;
}

.index-image{
  display: flex;
  margin-left: auto;
  margin-right: 3%;
  margin-bottom: 1%;
  width: 50%;
  float: left;
}

/* PORTFOLIO PAGE */
.image {
  height: 300px;
  width: 300px;  
}

.image-label {
  background-color: rgb(62, 65, 65);
  bottom: 20px;
  color:  rgb(230, 225, 225);
  font-size: 30px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.image-wrapper {
  background-color: rgba(253,226,207,0.3);
  display: inline-block;
  margin-left: 50px;
  position: relative;
}

.portfolio-grid{
  background-color: rgba(253,226,207,0.3);
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:0px;
  padding:20px;
}
  
/* Contact Page */
.inside-contact{
  color:rgb(53, 53, 66);
  font-size: 40px;
  font-style: italic;
  font-weight: 100;
  line-height: .5em;
  text-align: center;
  padding: 0;
}

.row-contact {
  background: rgba(253,226,207,0.3);
  min-width: 960px;
  padding: 0px 0 30px 0;
}

.small-contact{
  color:rgb(53, 53, 66);
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
  line-height: .5em;
  text-align: center;
  padding: 0;
}

/* Living the dream Page */
.image-dream{
  height: 600px;
  width: 450px;
}

/* FOOTER*/
.footer{
  background-color: rgb(230, 225, 225);
  display: flex;
  justify-content: center;
  padding:24px;
}