* {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    user-select: none;
}

nav{
    width: 90%;
    text-align: center;
    height: 120px;
    letter-spacing: 0.8px;
    display: flex;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'GTWalsheim', sans-serif;
    padding-top: 60px;
}

nav p {
  flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

nav p:nth-child(1) {
    text-align: left;
}

nav p:nth-child(4) {
    text-align: right;
}


.nav-link {
    position: relative;
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

.portfolio{
    text-align: center;
    font-size: 20px;
    font-family: 'GTWalsheim', sans-serif;
    margin-bottom: 20px;
    letter-spacing: 0.8px;
}

header, footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
}

h1{
    display: block;
}

header h1 {
    font-family: 'GTWalsheim', sans-serif;
    width: 100%;
    font-weight: 400;
    text-transform: uppercase;
    font-size: calc(100px + (200 - 100) * ((100vw - 300px) / (1920 - 300)));
    line-height: calc(100px + (200 - 100) * ((100vw - 300px) / (1920 - 300)));
    z-index: 2;
} 

.big-images {
    overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    z-index: 1;
}

.big-images img {
    width: 50vw;
    align-self: center;
    z-index: 0;
}

main {
    display: block;
}

.intro {
    width: 100%;
    margin-top: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.intro p {
    max-width: 11em;
    font-size: 7vw;
    text-align: left;
    line-height: 1.3;
    transition: .4s ease;
    font-family: 'GTWalsheim', sans-serif;
    font-weight: 300;
    letter-spacing: 0.6px;
}

.info {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    margin-top: 10px;
    float: left;
    width: 95%;
    margin-bottom: 10px;
    max-width: 1380px;
    transition: .3s ease;
}

.info-center {
    width: 100%;
    text-align: center;
}

.info-left {
    width: 100%;
    text-align: left;
}

.info-right {
    width: 100%;
    text-align: right;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.info ul li:nth-child(1) {
    font-size: 80px;
    /* font-size: calc(100px + (120 - 100) * ((100vw - 300px) / (1920 - 300))); */
    font-family: 'GTWalsheim', sans-serif;
    font-weight: 400;
    padding-top: 10px;
}

.info ul li:nth-child(2) {
    font-size: 40px;
    /* font-size: calc(100px + (120 - 100) * ((100vw - 300px) / (1920 - 300))); */
    font-family: 'GTWalsheim', sans-serif;
    font-weight: 100;
    padding-top: 10px;
}

.info ul li:nth-child(3) {
    font-size: 40px;
    /* font-size: calc(100px + (120 - 100) * ((100vw - 300px) / (1920 - 300))); */
    font-family: 'GTWalsheim', sans-serif;
    font-weight: 100;
    padding-top: 10px;
}

.info ul li:nth-child(4) {
    font-size: 40px;
    /* font-size: calc(100px + (120 - 100) * ((100vw - 300px) / (1920 - 300))); */
    font-family: 'GTWalsheim', sans-serif;
    font-weight: 100;
    padding-top: 10px;
}

.info ul li:nth-child(5) {
    font-size: 40px;
    /* font-size: calc(100px + (120 - 100) * ((100vw - 300px) / (1920 - 300))); */
    font-family: 'GTWalsheim', sans-serif;
    font-weight: 100;
    padding-top: 10px;
}


ul li {
    list-style-type: none;
}

li {
    display: list-item;

}

.projects{
    background-color: black;
}

h2{
    font-size: 200px;
    color: white;
}

/* SCROLLING */
.scroll-left {
    height: 300px; 
    overflow: hidden;
    position: relative;
    }
    .scroll-left p {
    position: absolute;
    font-family: 'GTWalsheim', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 300px;
    text-align: center;
    font-size: 200px;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%); 
    transform:translateX(100%);
    /* Apply animation to this element */ 
    -moz-animation: scroll-left 11s linear infinite;
    -webkit-animation: scroll-left 11s linear infinite;
    animation: scroll-left 11s linear infinite;
    }
    /* Move it (define the animation) */
    @-moz-keyframes scroll-left {
    0% { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
    }
    @-webkit-keyframes scroll-left {
    0% { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
    }
    @keyframes scroll-left {
    0% { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%); 
    }
    100% { 
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%); 
    }
    }